body    {margin: 1px 0px 0px 0px; color: #000000; font: 12px verdana; background-color: #FFFFFF; background-image: url(images/back.gif); text-align: justify; cursor: default}
td              {color: #000000; font: 12px verdana; cursor: default}

a:link          {color: blue; text-decoration: underline}
a:visited   {color: #0000D5; text-decoration: underline}
a:active        {color: red; text-decoration: underline}
a:hover         {color: red; text-decoration: underline}

.title  {color: #0000FF; font: small-caps bold 17px verdana; letter-spacing: 7px; margin: -3px 0px 5px 0px; height: 20px; text-align: center}

.4      {font: 11px verdana}
.5      {font: 10px verdana}
.5a     {font: bold 10px verdana}

hr      {color: #000000; height: 1px}
hr.bold {border-top: 1px solid #989898; border-bottom: 1px solid #b8b8b8}

img             {border: 0px; margin: 0px}
img.bordered    {border: 1px solid #505050; margin: 7px}

td.bottom       {border-bottom: 2px solid #E8E8E8}

p       {text-align: justify; text-indent: 20px; margin-top: 10px}
b       {font: bold 12px verdana}

h1      {font: bold 18px verdana; color: #505050; text-transform: uppercase; text-align: center; margin: 10px 0px -3px 0px}
h2      {font: small-caps bold 13px arial; color: #505050; text-transform: uppercase; margin-bottom: 0px; background-color: #F0ECF0; padding: 1px 2px 1px 2px; border: 1px solid #F0F0F0; text-align: center; background-image: url(images/back2.gif); margin-bottom: 16px}
h3      {font: small-caps bold 13px arial; color: #505050; text-transform: uppercase; margin-bottom: 0px; padding: 1px 2px 1px 2px; text-align: center; margin-bottom: 16px}

ul      {margin: 16px 0px 16px 33px}
li      {text-align: justify}